
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/coollayout.cshtml";
}

<style>
    #bg {
        width: 100vw;
        min-height: 100vh;
        background: url("/Resources/img/eventobg.jpg") center center no-repeat fixed;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    #formContainer {
        margin: auto;
        width: 50%;
        min-height: 80vh;
        background-color: white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: 2px;
    }
</style>

<div id="bg">
    <div id="formContainer">
        eae
    </div>
</div>