
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/coollayout.cshtml";
}

<style>
    #bg { 
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #content { 
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #content img { 
        width: 10vw;
        margin: auto;
    }
</style>

<div id="bg">
    <div id="content">
        <img src="~/Resources/img/convitesuc.png" style="margin-bottom: 5vh;"/>
        <div style="color: #3a9b65; font-family: sans-serif; font-size: 2rem">Convite aceito com sucesso!</div>
        <a href="/meusconvites" style="text-align: center; margin-top: 3vh; color: #aa39b2">Voltar aos convites</a>
    </div>
</div>
