
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/coollayout.cshtml";
    ViewBag.Style = "_trocarsenha.css";
}

<style>

    #imagemUploader { 
        text-align: center;
        margin-top: 5vh;
        font-size: 1.2rem;
        text-decoration: underline;
    }

    #submit { 
        bottom: 0;
    }

    img { 
        width: 50%;
        margin: auto;
    }

    #userImagem {
        margin: auto;
    }

</style>

<div id="bg">
    <div id="boxlogin">
        <div id="content">
            @using (Html.BeginForm("Index", "AtualizarAvatar", FormMethod.Post, new { enctype = "multipart/form-data"}))
            {
                <img src="~/Resources/img/usericon.png"/>
                @*<label for="imagem" id="imagemUploader"> Carregar imagem </label>*@
                <input type="file" name="userImagem" id="userImagem" accept=".png, .jpg, .jpeg" />
                <input type="submit" id="submit" value="Confirmar"/>
            }
        </div>
    </div>
</div>