<link rel="stylesheet" href="~/Resources/css/sobre.css" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/coollayout.cshtml";
}

<div class="secao">
    <div class="secaoWrapper">
        <span style="background-color: #e28abb; padding: 2vh 0px;" data-aos="fade-right"
              data-aos-duration="500"
              data-aos-easing="ease-in-out">CoolEvents</span>
        <p data-aos="fade-right"
           data-aos-duration="900"
           data-aos-easing="ease-in-out">
            Nosso objetivo como empresa é melhorar de forma automatizada, a criação de eventos. Para nós, eventos são o que une pessoas.
            São memórias que sempre guardamos.
        </p>
    </div>
</div>
<div class="secao" style="background: #e28abb">
    <div class="secaoWrapper">
        <span style="background-color: white; padding: 2vh 0px;" data-aos="fade-right"
              data-aos-duration="500"
              data-aos-easing="ease-in-out">estamos preparados!</span>
        <p data-aos="fade-right"
           data-aos-duration="900"
           data-aos-easing="ease-in-out">
            Possuímos uma tecnologia capaz de fornecer para você o melhor serviço para o seu evento.
        </p>
    </div>
</div>
<div class="secao">
    <div class="secaoWrapper">
        <span data-aos="fade-right"
              data-aos-duration="500"
              data-aos-easing="ease-in-out">conte conosco</span>
        <p data-aos="fade-right"
           data-aos-duration="900"
           data-aos-easing="ease-in-out">
            Estamos sempre disponíveis para quaisquer melhorias. Constantemente estudamos para promover da melhor forma, recursos que possam
            fazer do seu evento, muito melhor!
        </p>
    </div>
</div>
<div class="secao">
    <div class="secaoParticipantes">
        <div style="width: 100%; padding-left: 5vw;"><span style="font-size: 2em; font-family: Roboto; color: black; background: #d77474; padding: .5vh 1vw;">Equipe</span></div>
        <div class="integrantes">
            <div class="integrante">
                <div class="imageWrapper">
                    <img src="Resources\img/GustavoP.jpg" />
                </div>
                <p>
                    Gustavo Patrício
                    <br />
                    ASP.NET
                </p>
            </div>
            <div class="integrante">
                <div class="imageWrapper">
                    <img src="Resources\img/JulioO.jpeg" />
                </div>
                <p>
                    Júlio Oliveira
                    <br />
                    Banco de dados
                </p>
            </div>
            <div class="integrante">
                <div class="imageWrapper">
                    <img src="Resources\img/RafaS.jpeg" />
                </div>
                <p>
                    Rafaela Saori
                    <br />
                    Mobile
                </p>
            </div>

            <div class="integrante">
                <div class="imageWrapper">
                    <img src="Resources\img/Gabriela.jpeg" />
                </div>
                <p>
                    Gabriela
                    <br />
                    C#
                </p>
            </div>
        </div>
    </div>
</div>

