
@{
    ViewBag.Title = "CoolEvents!";
    Layout = "~/Views/coollayout.cshtml";
}


<!-- Header area -->
<div id="header-wrapper" class="header-slider" style="background: url('/Resources/img/home.jpg') !important">
    <header class="clearfix">
        <div class="logo">
            <img src="img/logo-image.png" alt="" />
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="main-flexslider" class="flexslider">
                        <ul class="slides" style="text-shadow: .2px .3px 4px black;">
                            <li>
                                <p class="home-slide-content">
                                    <strong>Seu evento</strong> mais fácil
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Organize o seu <strong>evento</strong>
                                </p>
                            </li>
                            <li>
                                <p class="home-slide-content">
                                    Cool Events <strong><strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </header>
</div>
<!-- spacer section -->
<section class="spacer" style="background-color: #5dc096">
    <div class="container">
        <div class="row">
            <div class="span6 alignright flyLeft">
                <blockquote class="large">
                    Queremos fazer parte do seu momento, organizando tudo para você curtir <cite>Rafaela Saori, CEO da Coolevents</cite>
                </blockquote>
            </div>
            <div class="span6 aligncenter flyRight">
                <i class="icon-coffee icon-10x"></i>
            </div>
        </div>
    </div>
</section>

<!-- section: services -->
<section id="services" class="section" style="background-color: #d77374 ">
    <div class="container">
        <h4 style="color: white">Recursos!</h4>
        <!-- Four columns -->
        <div class="row">
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="img/icons/laptop.png" alt="" />
                    <h2>Sistema para o seu evento</h2>
                    <p>
                        Deixando fácil uma maneira de você organizar o seu evento. 
                    </p>
                </div>
            </div>
            <div class="span3 animated flyIn">
                <div class="service-box">
                    <img src="img/icons/lab.png" alt="" />
                    <h2>Alcance maior!</h2>
                    <p>
                        Com a nossa plataforma se torna mais fácil você alcançar o seu público.
                    </p>
                </div>
            </div>
            <div class="span3 animated-fast flyIn">
                <div class="service-box">
                    <img src="img/icons/camera.png" alt="" />
                    <h2>Enquetes</h2>
                    <p>
                        Temos enquetes customizadas para você ter um feedback dos eventos.
                    </p>
                </div>
            </div>
            <div class="span3 animated-slow flyIn">
                <div class="service-box">
                    <img src="img/icons/basket.png" alt="" />
                    <h2>Lista de tarefas</h2>
                    <p>
                        Você pode deixar tarefas para os seus convidados fazerem. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section: services -->
<!-- section: works -->
<section id="works" class="section">
        <div class="row">
            <div class="span12">
                <div id="portfolio-wrap">
                    <!-- portfolio item -->
                    <div class="portfolio-item grid print photography">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/1.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid print design web">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/2.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid print design">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/3.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/4.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/5.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/6.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/7.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/8.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/9.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                    <!-- portfolio item -->
                    <div class="portfolio-item grid design web">
                        <div class="portfolio">
                            <a href="img/works/big.jpg" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
                                <img src="img/works/10.png" alt="" />
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end portfolio item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- spacer section -->
<section class="spacer bg3">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyLeft">
                <blockquote class="large">
                   Nós somos uma empresa preparada para fazer a criação de eventos, algo mais simples, sempre inovando.
                </blockquote>
            </div>
            <div class="span12 aligncenter flyRight">
                <i class="icon-rocket icon-10x"></i>
            </div>
        </div>
    </div>
</section>
<!-- end spacer section -->