<title>Ops!</title>

<div id="bg">
    <div style="margin: auto; display: flex; flex-direction: column; justify-content: center">
        <img src="~/Resources/img/alerticon.png" />
        <p style="text-align: center; font-family: sans-serif">Estamos em manutenção! <br /> <br /> <a href="/index" style="text-decoration: none; color: #313131;">voltar a home</a></p>
    </div>
</div>

<style>
    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #bg { 
        width: 100vw;
        height: 100vh;
        background-color: #fcff00;
        display: flex;
        justify-content: center;
    }

    img { 
        margin: auto;
        width: 10vw;
        height: auto;
    }

    p { 
        font-size: 3rem;
    }
</style>